body, html, .page {
	min-width: 100vw;
	min-height: 100vh;
}
.p-absolute {
	position: absolute;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bigger-input >>> input, .bigger-input >>> label{
  font-size: 1.2em;
}

.dz-message{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.overlay-top{
  z-index: 10;
}